<%- include('./partials/head')  %>
 
<body>
	<!-- Header -->
  <%- include('./partials/header') %>
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
	
			</div>
			 <!-- Show the "ultimos" products -->

			<% for( let i = 0; i < listaArticulos.length; i++ ) { %>
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= listaArticulos[i].id %>">
							<figure class="product-box_image">
								<% if (listaArticulos[i].imagen != '') { %>
									<img src="<%= listaArticulos[i].imagen  %>" alt="<%= listaArticulos[i].nombreProducto  %>">
								<% } else {%>
									<img src="./image/users/default-image.png" alt="<%= listaArticulos[i].nombreProducto  %>">
								<% } %>
							</figure>
							<article class="product-box_data">
								<h2><%= listaArticulos[i].nombreProducto  %></h2>
								<p><%= listaArticulos[i].descripcion  %></p>
								<p>Comentarios: <%= listaArticulos[i].numComentarios  %></p>
							</article>
						</a> 
					</section>
				</div>
			
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < listaArticulos.length; i++ ) { %>
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= listaArticulos[i].id %>">
							<figure class="product-box_image">
								<% if (listaArticulos[i].imagen != '') { %>
									<img src="<%= listaArticulos[i].imagen  %>" alt="<%= listaArticulos[i].nombreProducto  %>">
								<% } else {%>
									<img src="./image/user/default-image.png" alt="<%= listaArticulos[i].nombreProducto  %>">
								<% } %>
							</figure>
							<article class="product-box_data">
								<h2><%= listaArticulos[i].nombreProducto  %></h2>
								<p><%= listaArticulos[i].descripcion  %></p>
								<p>Comentarios: <%= listaArticulos[i].numComentarios  %></p>
							</article>
						</a> 
					</section>
				</div>
			<% } %>
			
		</div>
	</div>
	<!-- /Más comentados -->

	<!-- footer -->
	<%- include('./partials/footer') %>

</body>	
</html>


<!-- FALTA
	- Cambiar el href de la etiqueta a
	- Cambiar la url de la imagen default de los productos
	- Consultar al profesor: que poner en novedades y que en mas comentados
-->