<%- include('./partials/head')  %>
 
<body>
	<!-- Header -->
	<% if(locals.user){%>
		<%- include('./partials/headerlogueado') %>
		<h2 class="text-center">Hola <%= locals.user.name %></h2>

	<% }else{ %>
		<%- include('./partials/header') %>
	<% } %>
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
	
			</div>
			 <!-- Show the "ultimos" products -->
			 <!-- Cambiamos el listaArticulos.length, por un 4 para poder hacer que muestre solo 4 productos y no todos los productos de la lista) -->

			<% for( let i = 0; i < 8; i++ ) { %>
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= productos[i].id %>">
							<figure class="product-box_image">
								<% if (productos[i].imagen != '') { %>
									<img src="/images/productos/<%= productos[i].imagen  %>" alt="<%= productos[i].producto  %>">
								<% } else {%>
									<img src="/images/users/<%= productos.user.foto %>" alt="<%= productos[i].producto  %>">
								<% } %>
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].producto  %></h2>
								<p><%= productos[i].descripcion  %></p>
								<p>Comentarios: <%= productos[i].comments.length  %></p>
								<p><a href="/users/profile/<%= productos[i].user.id %>"><%= productos[i].user.name %></a></p>
							</article>
						</a> 
					</section>
				</div>
			
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->

	<!-- Más comentados -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Más Comentados</h2>
            </div>
            <% 
                productos.sort((a, b) => b.comments.length - a.comments.length); 
                const productosMasComentados = productos.slice(0, 4);

                for (let i = 0; i < productosMasComentados.length; i++) {
            %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product/<%= productosMasComentados[i].id %>">
                            <figure class="product-box_image">
                                <% if (productosMasComentados[i].imagen != '') { %>
                                    <img src="/images/productos/<%= productosMasComentados[i].imagen %>" alt="<%= productosMasComentados[i].producto %>">
                                <% } else { %>
                                    <img src="/images/users/<%= productosMasComentados[i].user.foto %>" alt="<%= productosMasComentados[i].producto %>">
                                <% } %>
                            </figure>
                            <article class="product-box_data">
                                <h2><%= productosMasComentados[i].producto %></h2>
                                <p><%= productosMasComentados[i].descripcion %></p>
                                <p>Comentarios: <%= productosMasComentados[i].comments.length %></p>
                                <p><a href="/users/profile/<%= productosMasComentados[i].user.id %>"><%= productosMasComentados[i].user.name %></a></p>
                            </article>
                        </a>
                    </section>
                </div>
            <% } %>
        </div>
    </div>
	<!-- /Más comentados -->

	<!-- footer -->
	<%- include('./partials/footer') %>

</body>	
</html>


<!-- FALTA
	- Cambiar el href de la etiqueta a
	- Cambiar la url de la imagen default de los productos
	- Consultar al profesor: que poner en novedades y que en mas comentados
-->