<!-- Agrego el head que está en partials, así cuando modificamos info lo hacemos solo 1 vez-->
<%- include('./partials/head')  %>

<body>
    <!-- Header -->
    <%- include('./partials/header') %>

	<!-- Main -->
	<div class="col-12">
		<h2 class="registration-title">Ingresar</h2>
	</div>
	
	<div class="container registration-container">
		<form class="form registration-form" action="/users/login" method="POST", novalidate>
			<!-- Contenido del formulario -->
			<div class="form-group">
				<label for="usuario">Correo electrónico:</label>
				<input type="email" id="email" name="email" placeholder="(tu mail)" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
				<% if (locals.errors && errors.email) { %>
					<div class="error-msg">
						<%= errors.email.msg %>                                
					</div>                            
				<% } %>     

			</div>
		
			<div class="form-group">
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" placeholder="contraseña" >
				<% if (locals.errors && errors.password) { %>
					<div class="error-msg">
						<%= errors.password.msg %>                                
					</div>                            
				<% } %>    
			</div>
		
			<div class="form-group form-group--inline">
				<label for="recordarme" class="recordarme-label">Recordarme</label>
				<input type="checkbox" id="recordarme" name="recordarme" value="ok" class="recordarme-checkbox">
			</div>
		
			<button type="submit" class="submit-button">Ingresar</button>
		</form>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
    
</body>

</html>