<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<% if(locals.user){%>
		<%- include('./partials/headerlogueado') %>

	<% }else{ %>
		<%- include('./partials/header') %>
	<% } %>
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Edita tu producto</h2>
			</div>

			<div class="container registration-container">
				<form class="form registration-form" action="/editarProducto/<%= producto.id %>" method="POST", novalidate>
					<div class="form-group">
						<label for="productoImagen">Imagen del producto:</label>
						<input type="text" id="text" name="productoImagen" placeholder="(imagen)" value="<%= producto.imagen %>">

						
						<% if (locals.errors && errors.productoImagen) { %>
							<div class="error-msg">
								<%= errors.productoImagen.msg %>                                
							</div>                            
						<% } %> 
					</div>
			
					<div class="form-group">
						<label for="nombreProducto">Nombre del producto:</label>
						<input type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre del producto"  value="<%= producto.producto%>" >
						<% if (locals.errors && errors.nombreProducto) { %>
							<div class="error-msg">
								<%= errors.nombreProducto.msg %>                                
							</div>                            
						<% } %> 
					</div>

				
					<div class="form-group">
						<label for="descripcion">Descripción:</label>
						<input type="text" id="descripcion" name="descripcion" placeholder="Descripción del producto"   value="<%=producto.descripcion %>">
						<% if (locals.errors && errors.descripcion) { %>
							<div class="error-msg">
								<%= errors.descripcion.msg %>                                
							</div>                            
						<% } %> 
					</div>
			
					<button type="submit" class="submit-button"> Editar Producto</button>
				</form>
			</div>
		</div>
	</div>
	


	<!-- footer -->
	<%- include('./partials/footer') %>
    
</body>

</html>