<!-- Agrego el head que está en partials, así cuando modificamos info lo hacemos solo 1 vez-->
<%- include('./partials/head')  %>

<body>
    <!-- Header -->
    <%- include('./partials/header') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<% let comentarios= producto.comentarios %>
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%=  producto.nombreProducto  %></h2> 

			<p class="product-detail-description">
				<a href="/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt="<%= producto.nombreProducto %>" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < comentarios.length; i++ ) { %>
							<article>
							<img src="<%= comentarios[i].imagenPerfil %>" alt="<%= comentarios[i].nombreUsuario  %>">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"> <%= comentarios[i].nombreUsuario  %></a> </strong> %> 
								</p>
								<p class="user"> <%= comentarios[i].comentario  %></p>
							</div>
						</article>
						<% } %>
						
		
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>

</body>	
</html>